$color-default:#ededed;
$color-primary:#fa4662;
$color-secondary:#00abf0;
$color-third:#081b29;

$bgcolor-default:#081b29;
$bgcolor-primary:#0c2c44;
$bgcolor-secondary:#112e42;

$btn-primary:#00abf0;
$btn-secondary:#0042e4;

$link-default: #fff;
$link-primary:#676a6c;
$link-secondary:#0042e4;

$btn-hover: #FA4662;
$text-hover:#FA4662;